---
import { ButtonAddToCart } from "./ButtonAddToCart";
import { products } from "../../data/product";
---
{
 products.map(({imagen , name , price , type , id}) => (
 <li class="w-[220px]  bg-[#ffffff20] flex flex-col justify-center rounded-md  overflow-hidden  p-3">
  <a href={`/product/${id}`}> 
       <div class="w-full max-h-[220px] overflow-hidden ">
        <img src={imagen} alt="" class="w-full h-[150px] object-contain mb-3" transition:name={`imagen producto ${id}`}>
       </div>
       <div>
        <p class="text-center  font-semibold text-xl capitalize" transition:name={`text producto ${id}`}>{name}</p>
        <p class="text-center">{type}</p>
        <p class="text-center  font-semibold">${price}</p>
       </div>
       </a>
        <div class="flex justify-center items-center w-full py-3 overflow-hidden ">
            <ButtonAddToCart id={id} client:load/>
        </div>    
  </li>
  ))
}




